
{{ content() }}
<div align="center" class="well">

    {{ form('class': 'form-search') }}

    <div align="left">
        <h2>Создание нового пользователя</h2>
    </div>

    {{ form.render('name') }} <br>
    {{ form.render('login') }} <br>
    {{ form.render('email') }} <br>
    {{ form.render('password') }} <br>
    {{ form.render('save') }}

    <hr>

    </form>

</div>