{{ content() }}

<div align="center" class="well">

    {{ form('class': 'form-search') }}

    <div align="left">
        <h2>Смена пароля</h2>
    </div>

    {{ form.render('password') }} <br>
    {{ form.render('confirmPassword') }} <br>
    {{ form.render('save') }} <br>

    <hr>
</div>